/* style guide */

:root {
  --clr-primary-soft-blue: hsl(215, 51%, 70%);
  --clr-primary-cyan: hsl(178, 100%, 50%);

  --clr-main-bg: hsl(217, 54%, 11%);
  --clr-main-card: hsl(216, 50%, 16%);

  /*  fonts */
  --fw-300: 300;
  --fw-400: 400;
  --fw-600: 600;
}
html {
  font-size: 18px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--clr-main-bg);
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: var(--clr-main-card);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding: 2rem 2rem 1.5rem;
  width: 450px;
  border-radius: 1rem;
  box-shadow: 5px 20px 10px 10px rgba(0, 0, 0, 0.1);
}

.main-image {
  width: 100%;
  border-radius: 10px;
}

.hover-image {
  background-color: hsl(178, 100%, 50%, 0.4);
  position: absolute;
  width: 378px;
  display: block;
  height: calc(100% - 5px);
  top: 0;
  opacity: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hover-image img {
  width: 15%;
}
.hover-image:hover {
  cursor: pointer;
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.container .images {
  position: relative;
  width: auto;
}

.main-text {
  padding: 1rem 1rem 1rem 0;
}
.main-text h1:hover {
  cursor: pointer;
  color: var(--clr-primary-cyan);
  transition: ease-in-out 0.2s;
}
.main-text h1 {
  font-weight: var(--fw-600);
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
.main-text p {
  font-weight: var(--fw-300);
  color: var(--clr-primary-soft-blue);
  line-height: 1.7rem;
}

.price-and-time {
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: var(--clr-primary-soft-blue);
}

.price-and-time span {
  color: var(--clr-primary-cyan);
  font-weight: var(--fw-600);
}

ul li img {
  margin-right: 5px;
}
.icon-align {
  display: flex;
  align-items: center;
}

.author-info {
  border-top: 2px solid hsla(215, 52%, 70%, 0.308);
  font-weight: var(--fw-300);
  color: var(--clr-primary-soft-blue);
  padding-top: 1rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
.author-info span:hover {
  cursor: pointer;
  color: var(--clr-primary-cyan);
  transition: ease-in-out 0.3s;
}
.author-info span {
  color: white;
  font-weight: var(--fw-400);
}
.avatar {
  width: 12%;
  border-radius: 50%;
  border: 1px solid white;
  margin-right: 1.5rem;
}

.attribution {
  color: white;
  margin-top: 50px;
  font-size: 15px;
  opacity: 0.7;
}

a {
  color: var(--clr-primary-cyan);
  text-decoration-line: none;
}
